<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test thread-count="5" name="Test">
    <packages>
    <package name ="com.TestNGxml"/>
    </packages>
    <classes>
      <class name="com.TestNGxml.TestngXmlCreation"/>
      <methods>
      <include name ="hello.*"/>        
      </methods>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
